---
import Title from "../Title.astro";
---

<section class="my-10">
  <Title id="about-me">About Me</Title>
  <p class="text-lg mb-4">
    I am a passionate software developer with a strong foundation in full-stack
    development. I have a keen interest in creating efficient and scalable web
    applications. My experience includes working with various technologies and
    frameworks, allowing me to adapt to different project requirements. I am
    always eager to learn and grow in my field, and I thrive in collaborative
    environments where I can contribute to innovative solutions.
  </p>
</section>
