---
import Title from "../Title.astro";
---

<section class="my-10">
  <Title id="education">Education</Title>
  <div>
    <h3 class="text-xl font-medium">Bachelor's Degree in Systems Analysis</h3>
    <p class="text-xl">University of Buenos Aires - Faculty of Engineering</p>
    <p class="text-md">2018-2026</p>
  </div>
</section>
