---
import "../styles/global.css";

interface Props {
	pageTitle?: string;
}
const { pageTitle = "CV - Ignacio Garcia Pizales" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<meta name="description" content="Ignacio Garcia Pizales - Semi-Senior Full Stack Developer" />
		<meta name="keywords" content="CV, Html, CSS,	Javascript, Typescript, C#, Java, Python" />
		<meta name="author" content="Ignacio Garcia Pizales" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-black text-white antialiased">
    <slot />
  </body>
</html>
